/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}



h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}
#top-btn{
    position: fixed;
    bottom: 5vh;
    right: 2vh;
    height: 10vh;
    width: 10vh;
    margin: auto;
    background-color: rgb(255 214 13);
    color: navy;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50%;
    border: solid 1px #e4781c;
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

.main__hero {
    min-height: 10vh;
    margin-top: 20vh;
    /*padding-top: 3em;*/
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.active{
    border:none;
    outline: none;
 background-color:  rgba(0,13,60,1);
color:#fff;
}


 .hidden {
    display:none; 
    visibility: hidden;
    height: 0;
}
.on{
        display:none; 
    visibility: hidden;
    height: 0;
}
.dashes{
    min-height: 0.5vh;
    height: 0.5vh;
    min-width: 5vh;
    width: 5vh;
    display: block;
    margin: 0.5vh;
    background-color:#0b1d45;

}
/* main menu*/
.page__header{
        border-bottom: solid 1vh #ffd60d;
}
#mini-menu{
   /* display: block;*/
    appearance:none;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 1vh;
    float: right;

}
.navbar__menu{
    
 /*margin: 2vh;*/
}
.navbar__menu #navbar__list {
    padding-left: 0;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-bottom: solid 2px #ffd60d;*/
}

.navbar__menu li {
  display: inline-flex;
    justify-content: space-between;
    align-content: flex-end;
    vertical-align: middle;
    text-align: center;
    min-height: 5vh;
     order: 1;
     padding: 2vh;
     /*color: rgba(0,13,60,1);*/
}
/*.navbar__menu li:hover {
    background-color: red;
    color: navy;
}*/

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

li a {
    text-decoration: none;
    color: inherit;
    outline: none;
    padding: 1em;
    align-content: flex-end;
       /*min-height: 5vh;*/
       margin: auto;
}
/*li a:visited {
    color:  rgba(0,13,60,1) ;
     text-decoration-style: none;
}*/
li, li:visited , #secondary__navbar__list:visited ,#secondary__navbar__list{
  color: rgba(0,13,60,1);
}
 li:hover ,#secondary__navbar__list:hover{
  /* display: inline-block;*/ 
    border:none;
    outline: none;
 background-color:  rgba(0,13,60,1);
color:#fff;
margin-right: 1vh;
}


/* Sub menu*/
#secondary__navbar__list {
     order: 2;
     width: 20%;
    display: inline-block;
    /* padding-top: 2vh; */
    padding: 4vh 2vh 2vh 2vh;
   color:rgba(0,13,60,1);
   margin-right: 1vh;

}

#secondary__navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    align-content: space-between;
    width: auto;
    text-align:center;
       margin-right: 2vh;
    padding-left: 10px;
    padding-top: 10px;
    align-items: flex-start;

}

#sub_list_link ,#sub_list_link:focus , #sub_list_link:hover , #sub_list_link:visited{
    display: inline-block;
    list-style: none;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color: inherit;
    background-color: transparent;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    outline: none;


}
#sub_list_link::after{
 content: '';
    position: relative;
     border: solid navy;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  /*margin-right: 40px;*/
}

#sub_list_link:hover::after{
 border: solid #fff;
  content: '';
    position: relative;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
}

#secondary__navbar li.list_nav{
    padding: 1vh;
    border-bottom: solid 1px #ffd60d;
    display: list-item;
    list-style: none;
    width: 100%;
    text-align: right;
    color: #fff;
    background-color: rgba(0,13,60,1);
    text-align: center;
margin-right: 2vh;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }



}
@media only screen and (min-width: 48em){




}

@media only screen and (max-width: 35em){
    h1 {
        font-size: 7em;
        margin-left:0;
        margin-block:0;
    }
   .on{
    display:block; 
    visibility: visible;
    height: auto;
    
    }
     .collapse{
        display: none;
        visibility: hidden;
    }
    .navbar__menu #navbar__list {
    padding-left: 0;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border-bottom: solid 2px #ffd60d;*/
}
.navbar__menu li{
    padding: 1vh;
    border-bottom: solid 1px lightgrey;
    width: 50%;
    margin: auto;
}

#secondary__navbar {
    align-items: flex-end;
}
#secondary__navbar li.list_nav {
    padding: 1vh;
    border-bottom: solid 1px #ffd60d;
    display: list-item;
    list-style: none;
    width: 100%;
    /*text-align: right;*/
    color: #fff;
    background-color: rgba(0,13,60,1);
        box-sizing: border-box;
}


#secondary__navbar__list{
    width: 50%;
    margin:auto;
    }
li,#secondary__navbar__list{
  color: rgba(0,13,60,1);
}
 li:hover ,#secondary__navbar__list:hover{
  /* display: inline-block;*/ 
    border:none;
    outline: none;
 background-color:  rgba(0,13,60,1);
color:#fff;
margin-right: auto;
}

}

@media only screen and (max-width: 25em){
    h1 {
        font-size: 7em;
        margin-left:0;
        margin-block:0;
    }
   .on{
    display:block; 
    visibility: visible;
    height: auto;
    
    }
     .collapse{
        display: none;
        visibility: hidden;
    }
    .navbar__menu #navbar__list {
    padding-left: 0;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border-bottom: solid 2px #ffd60d;*/
}
.navbar__menu li{
    padding: 1vh;
    border-bottom: solid 1px lightgrey;
    width: 50%;
    margin: auto;
}

#secondary__navbar {
    align-items: flex-end;
    color: inherit;
}
#secondary__navbar li.list_nav {
    padding: 1vh;
    border-bottom: solid 1px #ffd60d;
    display: list-item;
    list-style: none;
    width: 100%;
    /*text-align: right;*/
    color: #fff;
    background-color: rgba(0,13,60,1);
        box-sizing: border-box;
}
#secondary__navbar__list{
    width: 50%;
     margin:auto;
    }

li,#secondary__navbar__list{
  color: rgba(0,13,60,1);
}
 li:hover ,#secondary__navbar__list:hover{
  /* display: inline-block;*/ 
    border:none;
    outline: none;
 background-color:  rgba(0,13,60,1);
color:#fff;
margin-right: auto;
}

}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

.collapsed{
    display: none;
    visibility: hidden;
    overflow: hidden;
}
section {
    min-height: auto !important;
}
/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s   infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
